# MAIN SETTINGS
UVICORN_HOST=""
UVICORN_PORT=""
DOCS_USERNAME=""
DOCS_PASSWORD=""
AUTH_SECRET_KEY=""
AUTH_TOKEN_EXPIRE_DAYS=""
AUTH_ALGORITHM=""

# POSTGRES MAIN
POSTGRES_MAIN_USER=""
POSTGRES_MAIN_PASSWORD=""
POSTGRES_MAIN_DB=""
POSTGRES_MAIN_HOST=""
POSTGRES_MAIN_PORT=""

# POSTGRES TEST
POSTGRES_TEST_USER=""
POSTGRES_TEST_PASSWORD=""
POSTGRES_TEST_DB=""
POSTGRES_TEST_HOST=""
POSTGRES_TEST_PORT=""